<div class="profile-container">
  <!-- Ліва частина: зміна фото -->
  <div class="profile-photo-section">
    <img class="profile-photo" src="assets\img\prof.png" alt="Profile Picture" />
    <button class="upload-btn">Змінити фото</button>
  </div>

  <!-- Права частина: форма профілю -->
  <div class="profile-form-section">
    <h2>Профіль</h2>

    <form>
      <div class="form-group">
        <label for="firstName">Ім'я</label>
        <input type="text" id="firstName" placeholder="Введіть ім'я" maxlength="30" />
      </div>

      <div class="form-group">
        <label for="lastName">Прізвище</label>
        <input type="text" id="lastName" placeholder="Введіть прізвище" maxlength="30" />
      </div>

      <div class="form-group">
        <label for="email">Електронна пошта</label>
        <input type="email" id="email" placeholder="Введіть email" maxlength="30" />
      </div>

      <div class="form-group">
        <label for="phone">Номер телефону</label>
        <input type="tel" id="phone" placeholder="Введіть номер телефону" maxlength="12" />
      </div>

      <div class="form-group">
        <label for="description">Опис</label>
        <input id="description" placeholder="Напишіть короткий опис" maxlength="1000">
      </div>

      <button type="submit" class="save-btn">Зберегти зміни</button>
    </form>
  </div>
</div>