  <section class="hero">
    <div class="hero-text">
      <h1>Дбаємо<br />Про Ваш<br />Агробізнес</h1>
      <p>Забезпечуємо аграріїв інструментами для зручного обліку послуг та ресурсів, підвищуючи ефективність вашого бізнесу.</p>
    </div>
    <div class="hero-images">
      <img src="../../../assets/img/imand.png" alt="1">
    </div>
  </section>
  
  <section class="about">
    <h2>Про Нас</h2>
    <p>AgroTracker — це платформа для сучасних аграріїв, що спрощує пошук і облік послуг та ресурсів по всій Україні, підвищуючи ефективність і доступність агробізнесу.</p>
    <div class="about-content">
      <div class="about-image">
        <img src="assets/img/combine.jfif" alt="combine">
      </div>
      <ul class="about-list">
        <li>
          <div class="icon"><img src="assets/img/im1.png" alt="Efficiency"></div>
          <b>Ефективність</b>
        </li>
        <li>
          <div class="icon"><img src="assets/img/im2.png" alt="Accessibility"></div>
          <b>Доступність</b>
        </li>
        <li>
          <div class="icon"><img src="assets/img/im3.png" alt="Transparency"></div>
          <b>Прозорість</b>
        </li>
        <li>
          <div class="icon"><img src="assets/img/im4.png" alt="Innovation"></div>
          <b>Інноваційність</b>
        </li>
      </ul>
    </div>
  </section>
  
  
  <section class="services">
    <div class="filters">
      <h3>Фільтри:</h3>
      <!-- Додайте фільтри тут -->
      <h4>Сортування:</h4>
      <ul>
        <li><button class="filter-btn active">За замовчуванням</button></li>
        <li><button class="filter-btn">За спаданням цін</button></li>
        <li><button class="filter-btn">За зростанням цін</button></li>
      </ul>
      <button class="apply-btn">Застосувати</button>
      <button class="reset-btn">Скинути</button>
    </div>
  
    <div class="services-list">
      <div class="search-bar">
        <h1>Послуги</h1>
        <div class="search">
          <input type="text" placeholder="Пошук" />
          <button class="search-btn">Знайти</button>
        </div>
      </div>
  
      <div class="service">
        <img src="assets/img/comb.jfif" alt="Service Image" />
        <div class="service-info">
          <h3>Оприскування компанією Львівмото</h3>
          <p>📍 Львів</p>
          <p>Техніка: Трактор-обприскувач JohnDeer</p>
          <p>Рік випуску: 2016 рік</p>
          <p class="price">450₴/га</p>
          <a href="#" class="more-btn" routerLink="more">Більше →</a>
        </div>
      </div>
      <!-- Повторіть блок .service для кожного оголошення -->
    </div>
  </section>
  
  
  
  
  
  