<div class="profile-container">
  <div class="profile-photo-section">
    <img class="profile-photo" src="assets\img\prof.png" alt="Profile Picture" />
    {{requestAdsCreate.name}}
    <button class="upload-btn"><input type="file" (change)="onFileSelected($event)" multiple />Додати фото</button>
  </div>


<div class="form-container">
      <div class="form-group">
        <label for="name">Вкажіть назву</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          placeholder="Наприклад, Обприскування компанією Львівмото"
          maxlength="100"
          ngModel
          required
          [(ngModel)]="requestAdsCreate.name"
        />
      </div>
  
      <div class="form-group">
        <label for="description">Опис</label>
        <input
          id="description"
          name="description"
          class="form-control"
          placeholder="Додайте більше деталей про послугу/техніку"
          maxlength="1000"
          ngModel
          rows="3"
          [(ngModel)]="requestAdsCreate.desc"
        >
      </div>
  
      <div class="form-group">
        <label for="location">Місцезнаходження</label>
        <input
          type="text"
          id="location"
          name="location"
          class="form-control"
          placeholder="Введіть назву міста"
          maxlength="100"
          ngModel
          [(ngModel)]="requestAdsCreate.location"
        />
      </div>
  
      <div class="form-group">
        <label for="price">Ціна</label>
        <input
          type="number"
          id="price"
          name="price"
          class="form-control"
          placeholder="Вкажіть ціну"
          ngModel
          [(ngModel)]="requestAdsCreate.value"
        />
      </div>
  
      <div class="form-actions">
        <button type="button" class="btn btn-secondary" (click)="onCancel()"><a routerLink="cancel">Відмінити</a></button>
        <button type="submit" class="btn btn-success" (click)="createAd()">Опублікувати</button>
      </div>
  </div>
  