<div class="container">
    <div class="header">
      <a href="#" class="back-button">← Назад</a>
      <h1>Оприскування компанією Львівмозавод</h1>
    </div>
    <div class="content">
      <div class="images">
        <img src="assets/img/combine.jfif" alt="Техніка" />
        <img src="assets/img/comb.jfif" alt="Техніка" />
      </div>
      <div class="details">
        <p><strong>Техніка:</strong> Трактор-оприскувач</p>
        <p><strong>Модель:</strong> Lexion 760 Class</p>
        <p><strong>Рік випуску:</strong> 2016 рік</p>
        <p><strong>Потужність двигуна:</strong> 370 кВт</p>
        <p><strong>Тип двигуна:</strong> 2206 F</p>
        <p><strong>Виробник двигуна:</strong> Perkins</p>
        <p><strong>Робочий об'єм:</strong> 12.5 л</p>
        <p><strong>Кількість циліндрів:</strong> 6</p>
        <p><strong>Розмір зернового бункера:</strong> 11000 л</p>
        <p><strong>Ширина платформи для різання:</strong> 7.7 м</p>
        <p><strong>Молотильна система:</strong> R</p>
      </div>
      <div class="footer">
        <div class="status">
          <span>Стан техніки:</span>
          <span class="status-indicator green"></span>
        </div>
        <div class="price">
          <span>4502 ₴/Га</span>
        </div>
        <button class="select-button">Обрати</button>
      </div>
    </div>
  </div>
  