<div class="signup-form">
    <h2>Реєстрація</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
        formControlName="firstName"
        placeholder="Ім'я"
        maxlength="40"
        required
      />
      <input
        type="text"
        formControlName="lastName"
        placeholder="Прізвище"
        maxlength="40"
        required
      />
      <input
        type="text"
        formControlName="phone"
        placeholder="Номер телефону"
        maxlength="10"
        required
      />
      <input
        type="email"
        formControlName="email"
        placeholder="Email"
        required
      />
      <input
        type="password"
        formControlName="password"
        placeholder="Пароль"
        maxlength="8"
        required
      />
      <input
        type="password"
        formControlName="confirmPassword"
        placeholder="Підтвердити пароль"
        maxlength="8"
        required
      />
      <button type="submit" [disabled]="!signupForm.valid">Зареєструватися</button>
    </form>
  </div>
  
    
  