<div class="signup-form">
    <h2>Реєстрація</h2>
      <input
        type="text"
        placeholder="Ім'я"
        maxlength="40"
        required
        [(ngModel)]="requestAuth.name"
      />
      <input
        type="text"
        placeholder="Прізвище"
        maxlength="40"
        required
        [(ngModel)]="requestAuth.surname"
      />
      <input
        type="text"
        placeholder="Номер телефону"
        maxlength="10"
        required
        [(ngModel)]="requestAuth.phone"
      />
      <input
        type="email"
        placeholder="Email"
        required
        [(ngModel)]="requestAuth.mail"
      />
      <input
        type="password"
        placeholder="Пароль"
        maxlength="16"
        required
        [(ngModel)]="requestAuth.key"
      />
      <input
        type="password"
        placeholder="Підтвердити пароль"
        maxlength="16"
        [(ngModel)]="requestAuth.conkey"

      />
      <button type="submit" class="btn btn-success" (click)="regist()">Зареєструватися</button>
  </div>
  
    
  