.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
}

.confirm {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  color: #000;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin: 5px 0;
  line-height: 1.5;
}

.home-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #a3e635;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #8dcf2e;
}
