<div class="header">
    <div class="logo-title">
      <img src="assets/img/Logo.svg" alt="agro" class="agro">
      <span class="title">AgroTracker</span>
    </div>
    <a href="#" class="logout">Вихід →</a>
  </div>
  
    <div class="profile">
      <img src="assets/img/pngegg.png" alt="User Photo" class="profile-photo" />
      <div class="profile-info">
        <h2></h2>
        <p>Номер телефону: </p>
        <p>Email: </p>
      </div>
      <button class="edit-button">✏️</button>
    </div>
  
    <div class="requests">
      <img src="assets/img/pngwing.com.png" alt="smile" class="smile">
      <h3>Мої Заявки:</h3>
      <div class="empty-requests">
        <p>Упс... У Вас ще немає заявок</p>
        <button class="create-button"><a routerLInk="create">Створити</a></button>
      </div>
    </div>