<header>
  <a class="logo" routerLink="/">
    <img src="../../../assets/img/Logo.png" alt="Logo" class="logo-img">
    <span class="logo-text">AgroTracker</span>
  </a>

  @if(isAuth() === false){
    <button class="btn-register" routerLink="login">
      <img src="../../../assets/img/icons8-пользователь-48.png" alt="Login Icon" class="btn-icon">
    </button>
  }
  @else {
    <button class="btn-register" routerLink="auth">
      <img src="../../../assets/img/icons8-пользователь-48.png" alt="Login Icon" class="btn-icon">
    </button>
  }
</header>
  